<li class="app-download-guide">
	<div class="guide-wrap">
		<div class="btn-part">
			<a href="#" class="app-download-btn">下载简书App</a>
			<a class="qrcode" href="#"><img src="../img/QQ图片20161109152449.png" alt=""></a>
			<div class="img">
				<img src="../img/banner-qrcode-5e67161e849ef3acd9b4b2d85ce4ef15.png" alt="">
			</div>
		</div>
		<div class="text-part">
			<ul>
				<li>•  随时随地发现和创作内容</li>
				<li>•  每天为你精选好文</li>
				<li>•  第一时间收到作者文章更新</li>
			</ul>
		</div>
		<img class="guide-img" src="../img/4.png" alt="">
	</div>
</li>