<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../app-ecb5d9ab5d.min.css">
	<link rel='icon' href='../img/logo.png' type=‘image/x-ico’ />
</head>
<body>
	<div class="ccl-nav"></div>
	<div class="choice-container">
		<div class="title-container">
			<span class="line"></span>
			<span>简书</span>
			<span>2015</span>
			<span class="title">·每月一篇好文章</span>
			<span class="line"></span>
		</div>
		<div class="share-container">
			<span class="item open-in-mobile"><i class="iconfont icon-shouji"></i>手机查看效果更佳</span>
			<a href="" class="item"><i class="iconfont icon-weibo"></i>分享到微博</a>
			<span class="item open-in-mobile"><i class="iconfont icon-weixin"></i>分享到微信</span>
			<span class="item more">
				<em>更多分享</em>
				<i class="iconfont icon-jiantou"></i>
				<ul class="dropdown-menu clear">
					<li>
						<a href=""><img src="../img/tweibo.png" alt="">分享到腾讯微博</a>
					</li>
					<li>
						<a href=""><img src="../img/qzone.png" alt="">分享到QQ空间</a>
					</li>
					<li>
						<a href=""><img src="../img/twitter.png" alt="">分享到Twitter</a>
					</li>
					<li>
						<a href=""><img src="../img/facebook.png" alt="">分享到Facebook</a>
					</li>
					<li>
						<a href=""><img src="../img/google_plus.png" alt="">分享到Google+</a>
					</li>
					<li>
						<a href=""><img src="../img/renren.png" alt="">分享到人人网</a>
					</li>
					<li>
						<a href=""><img src="../img/douban.png" alt="">分享到豆瓣</a>
					</li>
				</ul>
			</span>
		</div>
		<div class="swiper-wrapper">
			<div class="swiper-slide page1">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month1-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page2">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month2-tip.jpg" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page3">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month3-tip.jpg" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page4">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month4-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page5">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month5-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page6">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month6-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page7">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month7-tip.jpg" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page8">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month8-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page9">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month9-tip.jpg" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page10">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month10-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page11">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month11-tip.jpeg" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
			<div class="swiper-slide page12">
				<div class="pan">
					<div class="article">
						<div class="article-title">给你90天，成为不一样的自己</div>
						<div class="line"></div>
						<div class="content">如果你应付不了现在的生活和工作，<br>无论你走到哪里，<br>无论你换了什么工作，什么公司，<br>都无济于事。<br>因为你根本没想让自己成熟起来，<br>想让变的更优秀也不过是一句口头禅。</div>						
					</div>
					<div class="author">
							<img src="../img/month12-tip.png" class="icon">
							<span class="name">Sempliciy</span>
					</div>
					<a href="" class="mask">
						<button type="" class="btn">阅读全文 ></button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 二维码 -->
	<div class="modal">
			<div class="modal-header">
				<button type="" class="button">x</button>
			</div>
			<div class="modal-body">
				<h5>扫描下方二维码，在手机上打开本页～</h5>
				<div class="code">
				<img src="../img/codepng.png" alt=""></div>				
			</div>
	</div>
	<script src="../bower_components/jquery/dist/jquery1.42.min.js"></script>
	<script src="../bower_components/seajs/dist/sea.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
	<script>
		seajs.config({
			base:"./"
		});
		seajs.use('../js/choice.js')
	</script>
</body>
</html>