<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>首页-简书</title>
	
	<link rel="stylesheet" href="../app-65ac5fde0e.min.css">
	
	<script src="../bower_components/jquery/dist/jquery1.42.min.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
	<script src="../bower_components/seajs/dist/sea.js"></script>
</head>
<body>
	<nav id="nav"></nav>
	<div class="cxw-offset">
		<div class="page-title">
			<ul class="clear">
				<li class="active"><a href="#">发现</a></li>
				<li><a href="choice.html">2015精选</a></li>
				<li class="search">
					<input type="search" placeholder="搜索">
				</li>
			</ul>
		</div>
		<!-- <div class="navbar-user">
			<a class="login" href="#"><i class="iconfont icon-denglu"></i>注册</a>
			<a class="login" href="#"><i class="iconfont icon-login "></i>登录</a>
		</div> -->
		<div class="list-container">
			<ul class="unstyled clear">
				
			</ul>
			<ul class="article-list">
				<!-- <li class="have-img clear">
					<a class="wrap-img" href="#"><img src="../img/1.jpg" alt=""></a>
					<div>
						<p class="list-top">
							<a class="blue-link" href="#">沫情舒</a>
							<em>·</em>
							<span class="time" data-shared-at="2016-11-08T20:22:36+08:00">大约14小时之前</span>
						</p>
						<h4 class="title">
							<a href="#">张幼仪：面对失去的爱情，最有效的治愈与最精彩的报复是...</a>
						</h4>
						<div class="list-footer">
							<a href="#">阅读 3661</a>
							<a href="#">· 评论 67</a>
							<span> · 喜欢 231</span>
							<span> · 打赏 2</span>
						</div>
					</div>
				</li> -->
			</ul>
			<div class="load-more">
				<button class="ladda-button" type="button">点击查看更多</button>
			</div>
		</div>
	</div>
	<footer class="footer clear">
		<div class="footer-l">
			<p>
				<a href="#">关于简书</a>
				<a href="#">联系我们</a>
				<a href="#">作者成书计划</a>
				<a href="#">帮助中心</a>
				<a href="#">简书周边</a>
				<a href="#">合作伙伴</a>
			</p>
			<p>
				©2012-2016 
				<a href="#">简书</a>
				 / 沪ICP备11018329号-5 /
				<a href="#"><img src="../img/guohui.png" alt=""> 沪公网安备31010602000064号</a>
				<img style="width: 60px;height: 21px;" src="../img/sm_83x30.png" alt="">
			</p>
		</div>
		<div class="footer-r">
			<div class="app-download-btn">
				<a href="#"><img src="../img/ios.png" alt=""></a>
				<a href="#"><img src="../img/android.png" alt=""></a>
			</div>
			<div>
				关注我们:
				<a href="#"><i class="iconfont icon-weibo"></i></a>
				<a href="#"><i class="iconfont icon-qq"></i></a>
				<a href="#"><i class="iconfont icon-tuite"></i></a>
			</div>
		</div>
	</footer>
	<script>
		seajs.config({
			base:'./'
		});
		seajs.use('../js/jingxuan');
	</script>
</body>
</html>