<div class="ccl-nav-left">
		<a href="index.html" title=""><span class="iconfont icon-jian xuanzhong"></span></a>
		<a href="choice.html" title="">
			<span class="iconfont icon-mulu">	
			</span>
			<div class="mulu">
				<img src="../img/txt1.png" alt="">
			</div>
		</a>
		<a href="app.html" title="">
			<span class="iconfont icon-shouji">
				<div class="shouji">
					<div class="txt2">
						<img src="../img/txt2.png" alt="">
					</div>
					<div class="txt3">
						<h3>简书</h3>
						<p>交流故事，沟通想法</p>
						<img src="../img/erweima.png" alt="">
						<p>
							<a href="#" title="">
								iOS
							</a> ·
							<a href="#" title="">Android</a>
						</p>
							
						
					</div>
				</div>
			</span>

		</a>
				<!-- ccl-nav-left-down -->
		<div class="ccl-nav-left-down">
			<a href="#" title="">
				<p class="iconfont icon-a"></p>
			</a>
			<a href="#" title="">
				<p class="iconfont icon-login"></p>
			</a>
			
		</div>
	</div>