<!-- ccl-nav 开始 -->
<div class="ccl-nav clear">
	<!-- ccl-nav-left 开始 -->
	<div class="ccl-nav-left"></div>
	<!-- ccl-nav-img 开始-->
	<div class="ccl-nav-img">
		<img src="../img/dalu.jpg" alt="" class="img">
		<img src="../img/dalu1.jpg" alt="" class="img">
		<img src="../img/dalu2.jpg" alt="" class="img">
		<!-- ccl-nav-img-txt -->
		<div class="ccl-nav-img-txt">
			<h2>
				简书
			</h2>
			<h4>
				交流故事，沟通想法
			</h4>
			<p>一个基于内容分享的社区</p>
			<button type="button"><span class="iconfont icon-maobi"></span>提笔写篇文章</button>
		</div>
	</div>
</div>
<!-- ccl-nav 结束 -->
<!-- ccl-login 开始 -->
<div class="ccl-login">
	<a href="sign.html" title=""><span class="iconfont icon-login"></span>登录</a>
	<a href="sign.html" title=""><span class="iconfont icon-denglu"></span>注册</a>
</div>
