@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_euqvg6za9b68byb9.eot?t=1478609322517');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_euqvg6za9b68byb9.eot?t=1478609322517#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_euqvg6za9b68byb9.woff?t=1478609322517') format('woff'), /* chrome, firefox */ url('//at.alicdn.com/t/font_euqvg6za9b68byb9.ttf?t=1478609322517') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_euqvg6za9b68byb9.svg?t=1478609322517#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-anzhuo:before {
  content: "\e600";
}
.icon-weixin:before {
  content: "\3488";
}
.icon-sousuo:before {
  content: "\e602";
}
.icon-shouji:before {
  content: "\e625";
}
.icon-weibo:before {
  content: "\e60a";
}
.icon-qq:before {
  content: "\e648";
}
.icon-youjian:before {
  content: "\e705";
}
.icon-denglu:before {
  content: "\e603";
}
.icon-jiantou:before {
  content: "\e604";
}
.icon-douban:before {
  content: "\e60c";
}
.icon-mima:before {
  content: "\e60b";
}
.icon-mulu:before {
  content: "\e61c";
}
.icon-maobi:before {
  content: "\e690";
}
.icon-login:before {
  content: "\e607";
}
.icon-jian:before {
  content: "\e68a";
}
.icon-a:before {
  content: "\e669";
}
.icon-google:before {
  content: "\e635";
}
.icon-tuite:before {
  content: "\e601";
}
.cxw-offset {
  max-width: 1000px;
  padding-left: 12px;
  margin-left: 28.0%;
  width: 58.33333%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  float: left;
}
.cxw-offset .page-title {
  width: 749px;
  position: fixed;
  background: white;
  border-width: 2px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  z-index: 1;
  padding-left: 20px;
  border-bottom: 2px solid #d9d9d9;
  font-size: 12px;
}
.cxw-offset .page-title ul {
  text-align: center;
}
.cxw-offset .page-title ul li {
  float: left;
  line-height: 20px;
}
.cxw-offset .page-title ul li a {
  padding: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #999999;
}
.cxw-offset .page-title ul li a:hover {
  background-color: #eeeeee;
  color: #555555;
}
.cxw-offset .page-title ul .active {
  margin-bottom: -2px;
  border-bottom: 2px solid #555555;
}
.cxw-offset .page-title ul .active a {
  color: #555555;
}
.cxw-offset .page-title ul .search {
  float: right;
  margin-top: 10px;
}
.cxw-offset .page-title ul .search input {
  padding: 0px 14px 0px 14px;
  border-radius: 15px;
  width: 180px;
  font-size: 14px;
  line-height: 28px;
  color: #555555;
  display: inline-block;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.cxw-offset .page-title ul .search input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(82, 168, 236, 0.8);
}
.cxw-offset .navbar-user {
  position: fixed;
  top: 10px;
  right: 0;
}
.cxw-offset .navbar-user .login {
  top: 7px;
  float: right;
  padding: 0 2px;
  margin-right: 8px;
}
.cxw-offset .navbar-user .login i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.cxw-offset .list-container {
  width: 749px;
  padding-top: 50px;
}
.cxw-offset .list-container .unstyled {
  padding: 13px 0 0 30px;
}
.cxw-offset .list-container .unstyled li {
  float: left;
  margin: 10px 15px 5px 0;
  line-height: 20px;
}
.cxw-offset .list-container .unstyled li.active a {
  color: white;
  border-color: #e78170;
  background: #e78170;
}
.cxw-offset .list-container .unstyled li a {
  color: #555555;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}
.cxw-offset .list-container .unstyled li a:hover {
  color: #000;
}
.cxw-offset .list-container .article-list {
  padding-left: 36px;
  margin: 35px 0 0;
}
.cxw-offset .list-container .article-list li {
  position: relative;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 17px;
  margin: 0 0 17px;
  border-bottom: 1px dashed #d9d9d9;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  word-wrap: break-word;
}
.cxw-offset .list-container .article-list .have-img .wrap-img {
  float: right;
  width: 100px;
  height: 100px;
}
.cxw-offset .list-container .article-list .have-img .wrap-img img {
  width: 100%;
  height: 100px;
  width: auto\9;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.cxw-offset .list-container .article-list .have-img .list-top {
  margin: 8px 0;
  font-size: 12px;
}
.cxw-offset .list-container .article-list .have-img .list-top .blue-link {
  color: #4094c7;
}
.cxw-offset .list-container .article-list .have-img .list-top .blue-link:hover {
  color: #075b8d;
}
.cxw-offset .list-container .article-list .have-img .list-top .time {
  margin-left: 3px;
  color: #717171;
}
.cxw-offset .list-container .article-list .have-img .title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.cxw-offset .list-container .article-list .have-img .title a:hover {
  color: black;
}
.cxw-offset .list-container .article-list .have-img .list-footer {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
.cxw-offset .list-container .article-list .have-img .list-footer a,
.cxw-offset .list-container .article-list .have-img .list-footer span {
  color: #999999;
}
.cxw-offset .list-container .article-list .have-img .list-footer a:hover,
.cxw-offset .list-container .article-list .have-img .list-footer span:hover {
  color: #717171;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap {
  height: 140px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-image: -webkit-linear-gradient(top, #fbfbfb, #f4f4f4);
  background-image: linear-gradient(-180deg, #fbfbfb, #f4f4f4);
  position: relative;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .btn-part {
  width: 33%;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .btn-part .app-download-btn {
  padding: 13px 16px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #e78170;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .btn-part .app-download-btn:hover {
  background-color: #f49484;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .btn-part .qrcode {
  margin-left: 10px;
  padding: 7px 9px;
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
  display: inline-block;
  vertical-align: top;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .btn-part .img {
  position: absolute;
  top: -170px;
  left: 89.9375px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .text-part {
  width: 33%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .text-part li {
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0px;
  border-bottom: 0px dashed #d9d9d9;
  font-size: 14px;
  line-height: 2;
}
.cxw-offset .list-container .article-list .app-download-guide .guide-wrap .guide-img {
  max-width: 100%;
  vertical-align: middle;
  height: 100%;
}
.cxw-offset .list-container .load-more {
  margin-bottom: 30px;
  text-align: center;
}
.cxw-offset .list-container .load-more .ladda-button {
  font-size: 18px;
  cursor: pointer;
  outline: none;
  line-height: 20px;
  background: #e78170;
  padding: 14px 18px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: white;
  font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}
.cxw-offset .list-container .load-more .ladda-button:hover {
  color: white;
  border-color: #f49484;
  background-color: #f49484;
}
.footer {
  padding: 8px 0 10px 28%;
  border-top: 1px solid #d9d9d9;
  overflow: hidden;
  color: #999999;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
.footer .footer-l {
  width: 505px;
  float: left;
  margin-left: 25px;
}
.footer .footer-l a {
  color: #999999;
  padding-right: 2px;
  margin-right: 2px;
}
.footer .footer-l a:hover {
  color: black;
}
.footer .footer-l p {
  margin: 5px 0 0;
}
.footer .footer-l p img {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}
.footer .footer-r {
  float: right;
}
.footer .footer-r .app-download-btn {
  margin-top: 12px;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-r .app-download-btn a:after {
  content: "";
}
.footer .footer-r .app-download-btn a {
  margin: 0 3px;
}
.footer .footer-r .app-download-btn a:hover {
  opacity: 0.7;
}
.footer .footer-r .app-download-btn a img {
  width: 90px;
}
.footer .footer-r div {
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-r div i:hover {
  color: #000;
}
